/* .header {
    font-family: 'Fruktur', cursive;
} */

.navbar {
    border-radius: 0;
    background: #777;
    font-size: 26px;
    font-weight: bold;
    font-family: 'IM Fell DW Pica', serif;
  }
  