/* .header {
    font-family: 'Fruktur', cursive;
} */

.navbar {
    border-radius: 0;   
    font-size: 24px;
    /* font-weight: bold; */
    font-family: 'IM Fell DW Pica', serif;
  }

  /* navbar-default .navbar-brand {
    color: #225d81;
  } */

  /* .navbar {
      color: orange;
  } */

  